<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Submit Info</title>
    <link rel="stylesheet" href="./main.css">
  </head>
  <body>
    <div class="container">
      <ul>
        <li>Name: {{name}}</li>
        <li>Age: {{age}}</li>
        <li>Email: {{email}}</li>
      </ul>
    </div>
  </body>
</html>
